:root {
  height: 100%;
  --primary-color: #000000;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* + Scrollbar */
.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #f3f4f6;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
  border: 2px solid #f3f4f6;
  /* border-radius: 8px */
}

.scrollbar-custom.basic-table::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
  border: 0;
}

.scrollbar-custom:hover::-webkit-scrollbar-thumb {
  background-color: #6b7280;
}
/* - Scrollbar */

a {
  cursor: pointer;
}
