:root {
  height: 100%;
  --primary-color: #000000;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* + Scrollbar */
.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #f3f4f6;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
  border: 2px solid #f3f4f6;
  /* border-radius: 8px */
}

.scrollbar-custom.basic-table::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
  border: 0;
}

.scrollbar-custom:hover::-webkit-scrollbar-thumb {
  background-color: #6b7280;
}
/* - Scrollbar */

a {
  cursor: pointer;
}

.fc .fc-daygrid-day-frame {
  padding: 14px; /* Adjust as needed */
}

.fc .fc-highlight {
  background-color: rgba(0, 204, 255, 0.11); /* custom color */
  border-radius: 6px; /* soft rounded highlight */
  margin: 10px; /* creates visual padding inside the cell */
}

/* .fc .fc-daygrid-day-top {
  justify-content: flex-start !important;
  align-items: flex-start !important;
  padding: 6px;
} */
